.parent-fig{
  margin: 0 auto;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  background-color: gray;
  width: 30%;
  height: 50vh;
  border: solid black 0.5px;
}

.child-tile{
  border: solid black 0.5px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;

}

.child-tile span{
  
  font-size: 25px;
  /* text-decoration: line-through; */

}

